<!DOCTYPE html>
<html ng-app="myMoviesSeriesApp" lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Movies and Series</title>

        <!-- Styles -->
        <link rel="stylesheet" href="styles/css/bootstrap.css" />
        <link rel="stylesheet" href="styles/css/styles.css" />
    </head>
    <body>

        <div class="container">
            <header>
                <h1>Movies and Series</h1>
            </header>
            <nav ng-controller="navigationCtrl">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': pathIsMovies() }"><a href="#/movies">Movies</a></li>
                    <li ng-class="{'active': pathIsSeries() }"><a href="#/series">Series</a></li>
                </ul>
            </nav>

            <section app-view-segment="0"></section>

        </div>

        <!-- Libraries -->
        <script src="https://code.angularjs.org/1.2.27/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.2.27/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route-segment/1.4.0/angular-route-segment.js"></script>
        <script src="https://code.angularjs.org/1.6.1/i18n/angular-locale_es-mx.js"></script>

        <!-- Configuration of the application -->
        <script src="scripts/app.js"></script>

        <!-- Controllers -->
        <script src="scripts/controllers/moviesCtrl.js"></script>
        <script src="scripts/controllers/seriesCtrl.js"></script>
        <script src="scripts/controllers/navigationCtrl.js"></script>
        <script src="scripts/controllers/comingSoonCtrl.js"></script>
        <script src="scripts/controllers/billboardCtrl.js"></script>
        <script src="scripts/controllers/todayCtrl.js"></script>
        <script src="scripts/controllers/broadcastCtrl.js"></script>
        <script src="scripts/controllers/moviesDetailsCtrl.js"></script>

        <!-- Services -->
        <script src="scripts/services/ApiService.js"></script>

        <!-- Values -->
        <script src="scripts/values/Settings.js"></script>

        <!-- Filters -->
        <script src="scripts/filters/ReleaseDate.js"></script>

        <!-- Directives -->
        <script src="scripts/directives/MediaItem.js"></script>
        <script src="scripts/directives/Vote.js"></script>
        <script src="scripts/directives/Genres.js"></script>

        <!--Originals-->
        <!--<script src='https://code.angularjs.org/1.2.27/angular.js'></script>
        <script src='https://code.angularjs.org/1.2.27/angular-route.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-route-segment/1.3.3/angular-route-segment.js'></script>-->

        <!--<script src='scripts/controllers/indexCtrl.js'></script>-->
        <!--<script src='scripts/controllers/controllerBCtrl.js'></script>-->

        <!-------------------------------------------------------------------------->

        <!--<div ng-controller='indexCtrl'>-->
            <!--Notifications-->
            <!--<button ng-click='ToDown()'>To down</button>
            <div ng-controller='controllerBCtrl'></div>-->

            <!--Watch-->
            <!--<input type='checkbox' ng-model='checkboxValue' />-->

            <!--<span>{{ name }}</span>
            <button ng-click='greet()'>Greet</button>
            <button ng-click='count()'>Count</button>-->
        <!--</div>-->

    </body>
</html>